<p id="notice"><%= notice %></p>

<p>
  <strong>Bnpp:</strong>
  <%= @record.bnpp_id %>
</p>

<p>
  <strong>Titel:</strong>
  <%= @record.titel %>
</p>

<p>
  <strong>Ondertitel:</strong>
  <%= @record.ondertitel %>
</p>

<p>
  <strong>Categorie:</strong>
  <%= @record.categorie %>
</p>

<p>
  <strong>Verschenen:</strong>
  <%= @record.verschenen %>
</p>

<p>
  <strong>Eigenaar:</strong>
  <%= @record.eigenaar %>
</p>

<p>
  <strong>Uitgever:</strong>
  <%= @record.uitgever %>
</p>

<p>
  <strong>Drukker:</strong>
  <%= @record.drukker %>
</p>

<p>
  <strong>Uitgave:</strong>
  <%= @record.uitgave %>
</p>

<p>
  <strong>Frequentie:</strong>
  <%= @record.frequentie %>
</p>

<p>
  <strong>Omvang:</strong>
  <%= @record.omvang %>
</p>

<p>
  <strong>Formaat:</strong>
  <%= @record.formaat %>
</p>

<p>
  <strong>Oplage:</strong>
  <%= @record.oplage %>
</p>

<p>
  <strong>Prijzen:</strong>
  <%= @record.prijzen %>
</p>

<p>
  <strong>Fotos:</strong>
  <%= @record.fotos %>
</p>

<p>
  <strong>Tekeningen:</strong>
  <%= @record.tekeningen %>
</p>

<p>
  <strong>Redactie:</strong>
  <%= @record.redactie %>
</p>

<p>
  <strong>Medewerkers:</strong>
  <%= @record.medewerkers %>
</p>

<p>
  <strong>Speciale:</strong>
  <%= @record.speciale %>
</p>

<p>
  <strong>Biblio:</strong>
  <%= @record.biblio %>
</p>

<p>
  <strong>Autopsie:</strong>
  <%= @record.autopsie %>
</p>

<p>
  <strong>Achtergrond:</strong>
  <%= @record.achtergrond %>
</p>

<p>
  <strong>Literatuur:</strong>
  <%= @record.literatuur %>
</p>

<p>
  <strong>Vindplaats:</strong>
  <%= @record.vindplaats %>
</p>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
